# --- Virtual Environments ---
.venv/
venv/
env/
ENV/
bin/
lib/
develop-eggs/
dist/
downloads/
eggs/
.eggs/

# --- Python Caches and Bytecode ---
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# --- Jupyter Notebook Artifacts ---
.ipynb_checkpoints/
*/.ipynb_checkpoints/
Untitled*.ipynb

# --- Operating System Clutter ---
.DS_Store
Thumbs.db
ehthumbs.db
Log.txt

# --- IDEs and Code Editors ---
.vscode/
.idea/
*.sublime-project
*.sublime-workspace